[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pandas = "*"
seaborn = "*"
numpy = "*"
skimpy = "*"
fingertips-py = "*"
polars = "*"
jupyter-cache = "*"
statsmodels = "*"
pyadomd = "*"
rpy2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
