[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
rpy2 = "*"
nbformat = "*"
nbclient = "*"
jupyter = "*"
sklearn = "*"
scikit-learn = "*"
statsmodels = "*"
torch = "*"
torchvision = "*"
scipy = "*"
skimpy = "*"

[dev-packages]

[requires]
python_version = "3.10"
