/*-- scss:defaults --*/
$font-size-root: 18px !default;

// scss-docs-start color-variables
$blue:    #005EB8 !default;
$purple:  #330072 !default;
$pink:    #AE2573 !default;
$orange:  #ED8B00 !default;
$yellow:  #FFB81C !default;
$green:   #009639 !default;
$teal:    #00A499 !default;
$cyan:    #00A9CE !default;
// scss-docs-end color-variables

// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

$font-family-sans-serif: Arial, -apple-system, 'Helvetica', Roboto, sans-serif !default;
$font-family-monospace: 'Fira Code', 'Courier New', monospace !default;

/*-- scss:rules --*/

.sidebar-title {
  color: #231f20;
}

div.sidebar-item-container .active {
  font-weight: bold;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active{
  font-weight: bold;
}

img {
  max-width: 100%;
}

/* Headings ------------------------------------------------------ */

#title-block-header.quarto-title-block.default .quarto-title h1.title {
  margin-bottom: 0.5rem;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}
h3 { margin-top: 1.5em; font-size: 1.2rem; font-weight: 500; }
h4 { margin-top: 1.5em; font-size: 1.1rem; }
h5 { margin-top: 1.5em; font-size: 1rem; }

.quarto-section-identifier {
  color: #6C6C6C;
  font-weight: normal;
}

/* Code ------------------------------------------------ */

code {
  color: #373a3c;
}

code a:any-link {
  text-decoration: underline;
  text-decoration-color: #ccc;
}


pre {
  background-image: linear-gradient(160deg,#f8f8f8 0,#f1f1f1 100%);
}
